<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://apps.kbia.org/pym/pym.js"></script>
	<script type="text/javascript" src="js/politifact.js"></script>
</head>
<body>
<div class="row pf-top">
	<div class="pf-quote col-xs-8">
		<p>"The [Obama] administration's regulatory assault on coal-fired energy has put thousands of Americans out of work."</p>
		<p><cite>Sen. Roy Blunt, R-Missouri, in a Jan. 15 News Release</cite></p>
		<p><a class="about-ratings" href="#" onclick="appendRatings();">About our Ratings</a></p>
	</div>
	<div class="pf-verdict col-xs-4">
	<img src="img/tom_ruling_mostlyfalse.gif">	
	</div>
</div>
<p>&nbsp;</p>
</body>
</html>