<!DOCTYPE html>
<html>
<head>
	<title>Kinder FBI Chart</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="http://apps.kbia.org/pym/pym.js"></script>
	<style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Lato);
	</style>
</head>
<body>
	<canvas id="chart" style=""></canvas>
	<p style="color:#919191; font-size:.8rem; font-family: 'Lato', sans-serif;"></p>
	<p style="color:#919191; font-size:.8rem; text-transform:uppercase; font-family: 'Lato', sans-serif;">Credit Nathan Lawrence / KBIA</p>
	<script type="text/javascript" src="js/kinder-fbi.js"></script>
</body>
</html>