<!DOCTYPE html><html><head><meta charset="utf-8"><title>mcintyre-blunt-coal</title></head><body><article class="markdown-body"><p>Supporters of the coal industry have criticized President Barack Obama’s administration as it attempts to establish stricter environmental regulations on coal-fired plants in the U.S.</p>

<p>The Clean Power Plan is the administration’s latest initiative to combat climate change. The Environmental Protection Agency proposes restrictions on coal-fired plants to reduce carbon emissions.</p>

<p>On Feb. 9 the U.S. Supreme Court ruled 5-4 that the Clean Power Plan would not be allowed to go into effect until the court is able to hear arguments from those who support and oppose the plan.</p>

<p>Before that ruling, Republican Sen. Roy Blunt spoke out against the Clean Power Plan in a January press release.</p>

<p>Blunt said: “The administration’s regulatory assault on coal-fired energy has put thousands of Americans out of work, and threatens to double utility costs for Missouri families by 2020.”</p>

<p>We decided to look into Blunt’s claim about jobs.</p>

<h2>Employment in the Coal Industry</h2>

<p>Employment data from the Bureau of Labor Statistics shows that jobs in coal were declining well before Obama took office in 2009. Coal mining employment has been dropping since 1985.</p>

<p>There are a number of market factors contributing to the long downturn, including technological innovation, investments in natural gas and renewable energy.</p>

<p>PolitiFact has reported on the Obama administration’s impact on the coal industry before, and found coal has been losing to natural gas <a href="http://www.politifact.com/truth-o-meter/statements/2013/sep/23/mitch-mcconnell/mcconnell-links-obama-war-coal/">for a while now</a>. Natural gas <a href="http://www.politifact.com/truth-o-meter/article/2014/aug/14/fact-checks-obama-coal-rules-carbon-politics/">attracts companies</a> looking for cheaper, cleaner and more efficient energy.</p>

<p>Employment in the coal industry has declined faster since Obama’s first term, but Josh Bivens, Research and Policy Director at the Economic Policy Institute, a group that receives significant funding from labor unions, says regulations adopted by the administration so far probably only had a marginal effect on the decline of coal.</p>

<p>“More than anything to me, they’re just sort of locking in the coal declines that were originally caused by the decline in natural gas prices,” Bivens said. “The single biggest factor in the decline of the coal sector over the past decade has been the big fall in the price of natural gas.”</p>

<p>Bivens added that if the Clean Power Plan goes into effect, he expects jobs in the coal industry to decline further.</p>

<p>Electric bills</p>

<p>We can’t fact-check a prediction, so Blunt’s assertion about the doubling of utility costs is beyond the scope of this fact-check. But we did look into the source behind his forecast. Blunt spokesman Brian Hart pointed us to this study on behalf of a group of Midwest utilities and regulators.</p>

<p>We found two significant issues. </p>

<p>First, the study says Missouri electricity bills could possibly double by 2030, not 2020.  </p>

<p>Second, the study was conducted in 2009, but Obama and the EPA didn’t actually propose the Clean Power Plan until 2015. The methodologies used to conduct the study aren’t consistent with Obama’s current environmental proposal.</p>

<p>But we did find <a href="https://www.eia.gov/analysis/requests/powerplants/cleanplan/">a study</a> from the U.S. Environmental Information Administration that specifically breaks down how the Clean Power Plan will affect electrical utilities.</p>

<p>That agency predicts prices in electricity will rise slightly in the early 2020s. Prices will differ across the country, but the highest rise in prices is predicted to be 7 percent.</p>

<h2>
<a id="user-content-our-ruling" class="anchor" href="#our-ruling" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Our Ruling</h2>

<p>Blunt said the Obama administration’s regulations have caused thousands of workers in the coal industry to lose their jobs. While the decline in coal industry employment is real, the role of administration policy is less certain.</p>

<p>Experts note that competition from abundant cheap natural gas has reduced the demand for coal more than any other factor. With less demand, the need for workers falls. While the administration has encouraged movement away from coal for environmental reasons, market forces in the energy sector have been the dominant driver.</p>

<p>Blunt’s claim overemphasizes the role of White House policy.  We rate the statement Mostly False.</p>

<h2>
<a id="user-content-sources" class="anchor" href="#sources" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Sources</h2>

<ul>
<li>Bureau of Labor Statistics, Coal Mining Employment Statistics, accessed Feb. 1, 2016</li>
<li>Mine Safety and Health Administration, Coal Mining Employment Statistics, accessed Feb. 12, 2016</li>
<li>U.S. Energy Information Administration, “<a href="http://www.eia.gov/coal/annual/">Annual Coal Report</a>”, April 13, 2015, accessed Jan. 30, 2016</li>
<li>U.S. Energy Information Administration, “<a href="https://www.eia.gov/analysis/requests/powerplants/cleanplan/">Analysis of the Effects of the Clean Power Plan</a>”, May 22, 2015, accessed Jan. 30, 2016</li>
<li>Phone interview, Josh Bivens, Research and Policy Director of the Economic Policy Institute, Feb. 16, 2016</li>
<li>Phone interview, Tom Sanzillo, Director of Finance for the Institute for Energy Economics and Financial Analysis, Feb. 16, 2016</li>
<li>Email interview, Tim Buckley, Director of Energy Finance Studies for the Institute for Energy Economics and Financial Analysis, Feb. 10, 2016</li>
<li>Email interview, Blunt spokesman Brian Hart, Jan. 29, 2016</li>
</ul>
</article></body></html>